DATABASE_URL=postgres://postgres:postgres@postgres:5432/kanalegeleri?sslmode=disable
POSTGRES_DB=kanalegeleri
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
GO_ADMIN_USERNAME=admin
GO_ADMIN_PASSWORD=change-me
TELEGRAM_BOT_TOKEN= telegram_bot_token
TELEGRAM_CHAT_ID= telegram_chat_id
